.DS_Store
.idea
*.log
*.lock
*.o
tmp/

.sync_*
ide/.config/nvim/plugin
.zcompcache
.zcompdump*
/mpd/.config/mpd/*
!/mpd/.config/mpd/mpd.conf
lxsession/.config/lxsession/LXDE
gtkfilechooser.ini
bookmarks
ide/.config/VSCodium/*
!ide/.config/VSCodium/User/settings.json
ide/.config/VSCodium/Preferences
themes/.local/share/icons/hicolor
themes/.local/share/icons/distrobox
peaclock/.peaclock/history
bin/.local/bin/dwm
nvim/.config/nvim/lua/sigma/init.lua
.uuid
tmux/.tmux/plugins
tmux/.tmux/layouts
/emacs/.config/emacs/.local/etc/eshell/history
/emacs/.config/emacs/.local/etc/eshell/lastdir
/emacs/.config/emacs/.local/etc/eshell/z
