#!/usr/bin/env zsh

. ~/.git_aliases
. ~/.bash_aliases

alias ls="eza" l='ls -F --icons' la='l -a' ll='l -l' lo='l -al'
alias grep="rg"
alias find=fd
alias cat=bat
alias top=btop htop=btop
alias du=dust
alias ps=procs
alias cd=zix
alias ssh="TERM=xterm-256color ssh"
alias nnn="nnn -a -H -Pp" n=nnn
alias f="nnn -a -H -Pf"
alias magento-cloud='TERM=xterm-256color magento-cloud'
